@import "tailwindcss";

@layer utilities {
    .mask-bottom {
        mask-image: linear-gradient(to bottom, black 40%, transparent);
        -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent);
    }
}

/* Para ocultar completamente el scrollbar */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari y Opera */
}
