@import "tailwindcss";

@layer utilities {
    .mask-bottom {
        mask-image: linear-gradient(to bottom, black 40%, transparent);
        -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent);
    }
}

/* Scrollbar oscuro para navegadores basados en WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
    /* Fondo oscuro del track */
}

::-webkit-scrollbar-thumb {
    background-color: #262626;
    /* Color del scroll */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
    /* Color al pasar el mouse */
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #262626 #0a0a0a;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}
